* {
  padding: 0;
  margin: 0;
}

.App {
  place-items: center;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
}

.section-container {
  margin: 10px;
  width: 70%;
  min-width: 450px;
  border-radius: 5px;
  background: #6aa6f5;
}

.section-header {
  padding-left: 15px;
  padding-top: 10px;
  color: #fff;
}

.form {
  font-size: 1.2rem;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  background: #fff;
}

.form-row-item {
  margin: 5px 10px;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
}

.center {
  justify-content: center;
}

.btn {
  padding: 5px;
  margin: 5px;
  width: 60px;
  color: #fff;
  background: #6aa6f5;
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  width: 90px;
  background: #0a68d3;
}

label {
  width: 100%;
  margin-bottom: 3px;
}

input {
  padding: 3px;
  color: #646464;
}

.item-title {
  font-size: 1.1rem;
  padding-bottom: 3px;
}

.item-value {
  font-size: 1rem;
  margin-bottom: 5px;
}
