* {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
}

.section-container {
  margin: 10px;
  height: 200px;
  width: 70%;
  border: 1px solid;
}

.section-header {
  padding-left: 10px;
  padding-top: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid;
}
